html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* card */

.band {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

/* @media only screen and (min-width: 300px) {
  .band {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 450px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

@media only screen and (min-width: 423px) {
  .band {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* 
@media only screen and (min-width: 1200px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
} */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

/* login */

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.login-container {
  border: 1px solid #ccc;
  width: 25rem;
  height: 30rem;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  border-color: #999;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  margin-top: 15px;
  margin-bottom: 25px;
}

.login-container input {
  height: 3rem;
  margin-bottom: 10px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid#cacaca;
}

.login-container button {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  height: 2rem;
  border-radius: 6px;
}

.login-container p {
  margin-bottom: 0;
}

.login-container a {
  color: blue;
  cursor: pointer;
}

#login-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* register */

#register-form {
  display: flex;
  flex-direction: column;
}

.register-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.register-container {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.register-container h2 {
  margin-top: 0;
}

.register-container input[type='email'] {
  margin-bottom: 10px;
  padding: 5px;
}

.register-container button {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.register-container p {
  margin-bottom: 0;
}

.register-container a {
  color: blue;
  cursor: pointer;
}

#register-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* header */

header {
  height: 4rem;
}

.head {
  height: 100%;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#home-button {
  font-size: 1.5rem;
  border-style: none;
  background-color: #f5f7f8;
}

#login-button {
  border-radius: 3rem;
  border-style: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #212529;
  color: #ffff;
  font-weight: bold;
}

#search-login > i {
  margin-right: 1rem;
  font-size: 1.3rem;
}

/* login-header */

#user-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#new-post-button {
  border-radius: 3rem;
  border-style: none;
  font-size: 1.1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #212529;
  color: #ffff;
  font-weight: bold;
}

#nickname-button {
  border-radius: 3rem;
  border-style: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #212529;
  color: #ffff;
  font-weight: bold;
}

#user-menu-button {
  border-style: none;
  background-color: #f5f7f8;
}

#user-menu-button {
  position: relative;
}

#user-menu {
  position: absolute;
  top: 60px;
  right: 95px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

#user-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#user-menu li {
  padding: 10px;
  cursor: pointer;
}

#user-menu li:hover {
  background-color: #f5f7f8;
}

/* userInfo */

.user-info {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  align-items: center;
}

.user-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-style: hidden hidden solid hidden;
  border-width: 1px;
}

.wrapper-content-button {
  display: flex;
}

.content {
  font-weight: 350;
}

.wrapper-title {
  width: 10rem;
}

.wrapper-content {
  width: 40rem;
}

/* 여기부터 detail 페이지 */
/* body {
  background: url("https://miricanvas.zendesk.com/hc/article_attachments/900002143643/___________________5_.png")
    center/cover no-repeat;
  min-height: 100vh;
} */

.mybox {
  background-color: whitesmoke;
  width: 95%;
  max-width: 1000px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin: 30px auto;
  border-radius: 10px;
  text-align: center;
}

.mybox > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
  /* min-height: 48px; */
}

.mybox > li > h2 {
  max-width: 75%;
  font-size: 20px;
  font-weight: 500;
  /* margin-right: auto; */
  margin-bottom: 0px;
}

.mybox > li > h2.done {
  text-decoration: line-through;
}
.mybox > img {
  width: 80%;
  border: 3px solid gold;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.homeButton {
  width: 50px;

  background-color: var(green);

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

/*대충 이것 저것 따라 해보고 구현된 모습 보면서 조정하기*/

.detail-poster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding-bottom: 50%;

  background-repeat: no-repeat;
  background-position: center;
}

.home-button {
  width: 50px;

  background-color: var(green);

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.comment-section {
  margin-top: 30px;
}

.comment-form {
  border: 1px solid var(gray);
  padding: 15px;
}

.comment-form input {
  height: 35px;
  border: none;
  border-bottom: 1px solid var(gray);

  outline: none;
}

.comment-user-box {
  display: flex;
  gap: 15px;
}

.comment-submit-box {
  display: flex;
  gap: 15px;

  margin-top: 15px;
}

.comment-content {
  flex: 1;
}

.comment-submit {
  width: 50px;

  background-color: var(green);

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.comment-list {
  margin-top: 30px;
}

.comment-item {
  padding: 15px 0;
}

.comment-delete {
  padding: 0;
  border: none;

  background-color: transparent;
}

/* 리뷰 관련 추가 */
.review-list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  margin-left: 10px;
  padding-left: 150px;
}

.review {
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 0px lightblue;
  width: 95%;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  text-align: left;
  word-wrap: break-word;
}

.delete-Btn {
  color: white;
}

.modify-Btn {
  color: white;
}
