html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.band {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

/* @media only screen and (min-width: 300px) {
  .band {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 450px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

@media only screen and (min-width: 423px) {
  .band {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* 
@media only screen and (min-width: 1200px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
} */

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.login-container {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  position: relative; /* 추가 */
}

.login-container h2 {
  margin-top: 0;
}

.login-container input[type='email'] {
  margin-bottom: 10px;
  padding: 5px;
}

.login-container button {
  margin-bottom: 10px;
  padding: 5px 10px;
}

.login-container p {
  margin-bottom: 0;
}

.login-container a {
  color: blue; /* 링크 색상 설정 */
  cursor: pointer; /* 커서 스타일 변경 */
}

#close-icon {
  position: absolute; /* 추가 */
  top: 10px; /* 추가 */
  right: 10px; /* 추가 */
  cursor: pointer; /* 추가 */
}

/* header */

header {
  height: 4rem;
}

.head {
  height: 100%;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home-button {
  font-size: 1.5rem;
  border-style: none;
  background-color: #f5f7f8;
}

#login-button {
  border-radius: 3rem;
  border-style: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #212529;
  color: #ffff;
  font-weight: bold;
}

#search-login > i {
  margin-right: 1rem;
  font-size: 1.3rem;
}
